#root {
  width: 100%;
  min-height: 100dvh;
  background: var(--background-color);
}

.react-flow__panel {
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

.react-flow__edge-path {
  stroke-width: 3px;
  stroke: #4169E1 !important;
}