@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Milonga&display=swap');
@import "tailwindcss";

:root {
  width: 100vw;
  height: 100vh;


  --primary-color: #212121;
  --secondary-color: #5D646B;
  --tertiary-color: #ADB5BD;
  --accent-color: #4169E1;
  --background-color: #272727;
  --text-primary: #F2F3F4;
  --text-secondary: #9C9C9C;
  --ut-orange: #FF8200;
  --ncsu-red: #CC0000;
  --unc-charlotte-green: #4F9D5D;
  --unc-blue: #0070FF;
  --uga-red: #BA0C2F;
  --vandy-gold: #B3A369;
  --duke-blue: #001A57;
  --ucf-gold: #CFAF70;

  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-primary)
}

@theme {

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
  --color-accent: var(--accent-color);
  --color-background: var(--background-color);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-ut-orange: var(--ut-orange);
  --color-ncsu-red: var(--ncsu-red);
  --color-unc-charlotte-green: var(--unc-charlotte-green);
  --color-unc-blue: var(--unc-blue);
  --color-uga-red: var(--uga-red);
  --color-vandy-gold: var(--vandy-gold);
  --color-duke-blue: var(--duke-blue);
  --color-ucf-gold: var(--ucf-gold);

  --font-milonga: 'Milonga', cursive;
  --font-ibm-plex-sans: 'IBM Plex Sans', sans-serif;
  --font-cinzel: 'Cinzel', serif;

}


.lineheight-2 {
  line-height: 2;
}

.outlined-text {
  -webkit-text-stroke: 0.5px rgba(33, 33, 33, 1.5);
}

.fade-image {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 100%);
}