@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Milonga&display=swap');
@import "tailwindcss";

:root {
  width: 100vw;
  height: 100vh;


  --primary-color: #212121;
  --secondary-color: #5D646B;
  --tertiary-color: #ADB5BD;
  --accent-color: #4169E1;
  --background-color: #272727;
  --text-primary: #F2F3F4;
  --text-secondary: #9C9C9C;

  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-primary)
}

@theme {

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
  --color-accent: var(--accent-color);
  --color-background: var(--background-color);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --font-milonga: 'Milonga', cursive;
  --font-ibm-plex-sans: 'IBM Plex Sans', sans-serif;
  --font-cinzel: 'Cinzel', serif;

}


.lineheight-2 {
  line-height: 2;
}